{% extends "base.html" %}
{% block title %}
  {{ article.title }} - {{ SITENAME }}
{% endblock %}
{% block content %}
<section id="content" class="body">
  {% include "aside.html" %}

  <article class="hentry">
    <header>
      <h2 class="entry-title">
        <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark"
           title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2>
    </header>
    <section class="post-info">
      <time class="published" title="{{ article.date.isoformat() }}">
        {{ article.locale_date }}
      </time>
    </section><!-- /.post-info -->
    <div class="entry-content">
      {{ article.content }}
    </div><!-- /.entry-content -->
  </article>
</section>
{% endblock %}
